body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, section, footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

#main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

#features, #cta {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    color: blue;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
